.navbar{
    background-color:rgb(21, 201, 117) ;
    margin: 10px;


   
}
.navbar ul{
    overflow: auto;
}
.navbar a{
    color: white;
}
.navbar li{
    float: left;
    list-style-type: none;
    margin: 13px 20px ;
}
.navbar li a{
    display: block;
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: rgb(207, 10, 10);

}
.search{
    float: right;
    color: rgb(12, 12, 12);
    padding: 20px 75px;
}
.search input{
    border-radius: 30px;
    border: none;
    padding: 5px 20px;
}